@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
@keyframes moveX {
  from { 
    left: 0; 
  } 
  to { 
    left: 90%; 
  }
}
@keyframes moveY {
  from { 
    top: 0; 
  } 
  to { 
    top: 90%; 
  }
}
@keyframes catnana {
  0%{
    background-image: url('catnana1.png');
  }
  20%{
    background-image: url('catnana.png');
  }
  40%{
    background-image: url('catnana1.png');
  }
  60%{
    background-image: url('catnana.png');
  }
  80%{
    background-image: url('catnana1.png');
  }
  100%{
    background-image: url('catnana.png');
  }
}
@keyframes pozadina{
  0%   { 
    background-position: 0 50%;
   }
  50%   { 
    background-position: 100% 50%;
   }
   100%{
    background-position: 0 50%;
   }
}
@keyframes slova{
  25%   { 
    text-shadow: 
  2px 2px 0 red,
  4px 4px 0 blue,
  6px 6px 0 green,
  8px 8px 0 yellow;
   }
  50%   { 
    text-shadow: 
  2px 2px 0 blue,
  4px 4px 0 green,
  6px 6px 0 yellow,
  8px 8px 0 red;
   }
  75% { 
    text-shadow: 
  2px 2px 0 green,
  4px 4px 0 yellow,
  6px 6px 0 red,
  8px 8px 0 blue;
   }
   100%{
    text-shadow: 
    2px 2px 0 yellow,
    4px 4px 0 red,
    6px 6px 0 blue,
    8px 8px 0 black;
   }
}
*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
h1, h2, p, li, a, i{
  color: white;
  text-shadow:
  2px 2px 0 yellow,
  4px 4px 0 red,
  6px 6px 0 blue,
  8px 8px 0 black;
  animation: slova 2s infinite;
}
i{
  font-size: 45px;
  color: white;
  text-shadow:
  0.025px 0.025px 0 yellow,
  2px 2px 0 red,
  3px 3px 0 blue,
  4px 4px 0 black;
  animation: slova 2s infinite;
}
$centriranja: right, left;

@each $centriranje in $centriranja {
  .p-#{$centriranje} {
    text-align: $centriranje;
  }
}
.logo{
  position: absolute;
  bottom: 0;
  right: 20px;
  img{
    width: 70px;
  }
}
.catnana{
  animation: catnana 1.5s ease-out infinite;
  display: flex;
  justify-content: center;
  .disclaimer{
    width: 30%;
    margin-top: 23%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    h1, p{
      color: white;
      padding-bottom: 15px;
    }
  }
}
.centerCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(106.31deg, #007A5C 0.04%, rgba(44, 79, 203, 0.49) 100%);
    background-size: 500% 500%;
    position: relative;
    animation: pozadina 10s ease-in-out infinite;
    .homepage{
        width: 80%;
        height: 90vh;
        margin: 0px auto;
        text-align: center;
        h1{
            padding: 80px 0px;
            font-size: 80px;
        }
        p{
          padding: 30px 0px;
          font-size: 30px;
        }
    }
    .button{
      width: 40%;
      margin: 70px auto;
      padding: 30px 0px;
      background-color: rgb(5, 85, 85);
      border-radius: 25px;
      text-align: center;
      p{
        text-shadow: none;
      }
      &:hover{
        transform: translate(0px, -20px);
        width: 30%;
        background-color: rgb(0, 122, 92);
        transition: 0.1s;
      }
  }
  .question{
    width: 80%;
    margin: 0px auto;
    h1{
      font-size: 70px;
      padding: 100px 0px;
      padding-bottom: 50px;
    }
  }
  .options{
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding: 250px 0px;
    .option, .restaurant{
      width: 30%;
      text-align: center;
    }
    .option{
      font-size: 50px;
    }
    .option1{
      width: 50%;
      font-size: 50px;
      text-align: center;
    }
    .gone{
      &:hover{
        cursor: default;
        opacity: 0;
        transition: 0.5s;
      }
    }
  }
  .optionsRestaurants{
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    .restaurant{
      width: 30%;
      position: relative;
      img {
        width: 100%;
        backface-visibility: hidden;
        border-radius: 25px;
        height: 100%;
      }
      .middle {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        border-radius: 25px;
        opacity: 0%;
        transition: 0.5s;
      }
      .info {
        position: relative;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        height: 100%;
        opacity: 0%;
        transition: 0.5s;
      }
      &:hover {
        .middle {
          display: block;
          opacity: 100%;
          transition: 0.5s;
        }
        .info {
          background-color: rgba(0,0,0,0.7);
          border-radius: 25px;
          opacity: 100%;
          transition: 0.5s;
          p{
            padding: 25%;
          }
        }
      }
      img{
        border-radius: 25px;
      }
    }
  }
}
.backButton{
  position: absolute;
  z-index: 9;
  top: 20px;
  left: 20px;
}
.jok{
  &:hover{
    opacity: 0;
    transition: 0.5s;
    cursor: default;
  }
}

//odgovori
.odgovor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-image: url('../img/yay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .pola{
    text-align: center;
    h1, h2, p{
      color: black;
      animation: none;
      text-shadow: none;
    }
    h1{
      padding-bottom: 100px;
      font-size: 60px;
    }
    h2{
      padding: 100px 0px;
      font-size: 30px;
    }
    p{
      font-size: 40px;
      padding-bottom: 100px;
    }
    .pocetak{
      width: 30%;
      margin: 0px auto;
      padding: 50px 0px;
      background-color: rgba(0,0,0, 0.8);
    }
    width: 50%;
  }
}